[submodule "bundle/minibufexpl"]
	path = bundle/minibufexpl
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "bundle/NERDTree"]
	path = bundle/NERDTree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/NERDCommenter"]
	path = bundle/NERDCommenter
	url = https://github.com/scrooloose/nerdcommenter.git
